/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* costome styling */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

* {
    box-sizing: border-box;
  }

h1{
    font-size: 50px;
    margin: 10px;
}

.container{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}
.labels-container{
    /* border: 2px solid black; */
    margin-top: 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: rgb(233, 231, 231);

}
.container p {
    margin-top:  20px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: white
}

.submit-container{
    display: flex;
    justify-content: center;

}

.submit-container label{
    padding: 20px 0px;
}

.main-container{
   
    width: fit-content;
    box-shadow: 0px 0px 19px -8px rgba(0, 0, 0, 0.75);
}
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    h1{
        font-size: 30px;
    }
    .container p{
        text-align: center;
    }
    
}
