/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



body {
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assests/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh- 80px); 
}
.container {
    max-width: 100%;
    margin: 5%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
.sub-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-container button{
    width: 450px;
    height: 100px;
    padding: 20px;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(192, 180, 180);
}

.heading-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading-container button{
    max-width: 120px;
    height: 35px;
}

.sign-up-container{
    float: left;
    
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url(/assests/images/bg.png);
    }
    button {
        width: 300px;
    }
}

